@import "../../colors.scss";

.header {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-img{
  height: 75px;
}

.login-img{
  margin-top: 25px;
  height: 25px;

}

.nav {
  margin-top: 25px;
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
  max-height: 45px;
}

.comic-button:hover {
  background-color: $primary-color;
  color: white;
  border: 2px solid white;
  box-shadow: 5px 5px 0px white;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}
