@import "../../colors.scss";

.header {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .logo-header {
        max-width: 10%;
        margin: 0 2.5vw;
    }
    nav{
        margin-top: 25px;
        color: white;

        span{
            margin: 2.5vw;
        }
    }
}